<section class="hero">
  <div class="container">
    <h2 class="hero__title heading-h1">
      Everything you need to get the attention of your audience
    </h2>
    <div class="hero__inner-text">
      <p class="hero__subtitle text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
      <!-- <div class="hero__get-in-touch">
        <a class="hero__link" href="/" target="_blank">
          <img class="hero__img" src="/assets/icons/about-arrow.png" alt="" />
        </a>
      </div> -->
      <a class="hero__link" href="/" target="_blank">
        <div class="hero__get-in-touch"></div> 
      </a>     
    </div>
    <div class="swiper hero__slider">
      <div class="hero__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide hero__slide-first">
          <div class="slide-content">
            <div class="slide-image hero__slide-img">
              <img
                loading="lazy"
                src="./assets/image/about/hero-content-1.png"
                alt="image slide" width="502" height="370"
              />
            </div>
            <div class="hero__slide-content">
              <h5 class="hero__slide-title heading-h5">What we believe</h5>
              <p class="hero__slide-text text-p-medium">
                Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...
              </p>
              <a class="hero__btn button-form" href="/">See details →</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero__slide hero__slide-middle">
          <div class="slide-content">
            <div class="slide-image hero__slide-img">
              <img
                loading="lazy"
                src="./assets/image/about/hero-content-2.png"
                alt="image slide" width="502" height="370"
              />
            </div>
            <div class="hero__slide-content">
              <h5 class="hero__slide-title heading-h5">What we believe</h5>
              <p class="hero__slide-text text-p-medium">
                Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...
              </p>
              <a class="hero__btn button-form" href="/">See details →</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero__slide">
          <div class="slide-content">
            <div class="slide-image hero__slide-img">
              <img
                loading="lazy"
                src="./assets/image/about/hero-content-3.png"
                alt="image slide"
              />
            </div>
            <div class="hero__slide-content">
              <h5 class="hero__slide-title heading-h5">What we believe</h5>
              <p class="hero__slide-text text-p-medium">
                Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...
              </p>
              <a class="hero__btn button-form" href="/">See details →</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero__slide">
          <div class="slide-content">
            <div class="slide-image hero__slide-img">
              <img
                loading="lazy"
                src="./assets/image/about/hero-content-1.png"
                alt="image slide" width="502" height="370"
              />
            </div>
            <div class="hero__slide-content">
              <h5 class="hero__slide-title heading-h5">What we believe</h5>
              <p class="hero__slide-text text-p-medium"> We believe it takes great people to make a great product. That’s why we hire not only the perfect professional fits, but people who embody our company values.
              </p>
              <a class="hero__btn button-form" href="/">See details →</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
