<section class="ourTeam   hero-decor hero-decor--ourTeam">
  <div class="container">
    <div class="ourTeam__quote">
      <div class="ourTeam__quote-title heading-h2">
        Powerful ideas & sales acceleration
      </div>
      <div class="ourTeam__quote-text">
        We are a software development firm specializing in digital products. We
        build beautiful, functional and cross-platform solutions that are
        accessible to all.
      </div>
    </div>
    <div class="ourTeam__title heading-h2">
      Meet our team of creators, designers, and world-class problem solvers
    </div>
    <div class="ourTeam__text">
      To become the company that customers want, it takes a group of passionate
      people. Get to know the people who lead
    </div>
    <div class="swiper ourTeam__slider">
      <div class="ourTeam__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide ourTeam__slide">
          <div class="ourTeam__img">
            <img src="./assets/image/about/our-team-1.png" alt="" />
          </div>
          <div class="ourTeam__inner">
            <div class="ourTeam__name">Arlyne Stefano</div>
            <div class="ourTeam__socials">
              <ul class="ourTeam__list">
                <li class="ourTeam__item">
                  <a href="#" class="ourTeam__social-link" aria-label="Twitter">
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsTwitter.svg"
                      width="32"
                      height="32"
                      alt="Twitter icon"
                    />
                  </a>
                </li>
                <li class="ourTeam__item">
                  <a
                    href="#"
                    class="ourTeam__social-link"
                    aria-label="LinkedIn"
                  >
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsLink.svg"
                      width="32"
                      height="32"
                      alt="LinkedIn"
                    />
                  </a>
                </li>
                <li class="ourTeam__item">
                  <a
                    href="#"
                    class="ourTeam__social-link"
                    aria-label="Instagram"
                  >
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsInsta.svg"
                      width="32"
                      height="32"
                      alt="Instagram icon"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="ourTeam__position">Founder & CEO</p>
        </div>
        <div class="swiper-slide ourTeam__slide">
          <div class="ourTeam__img">
            <img src="./assets/image/about/our-team-3.png" alt="" />
          </div>
          <div class="ourTeam__inner">
            <div class="ourTeam__name">Roger Dzawin</div>
            <div class="ourTeam__socials">
              <ul class="ourTeam__list">
                <li class="ourTeam__item">
                  <a href="#" class="ourTeam__social-link" aria-label="Twitter">
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsTwitter.svg"
                      width="32"
                      height="32"
                      alt="Twitter icon"
                    />
                  </a>
                </li>
                <li class="ourTeam__item">
                  <a
                    href="#"
                    class="ourTeam__social-link"
                    aria-label="LinkedIn"
                  >
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsLink.svg"
                      width="32"
                      height="32"
                      alt="LinkedIn"
                    />
                  </a>
                </li>
                <li class="ourTeam__item">
                  <a
                    href="#"
                    class="ourTeam__social-link"
                    aria-label="Instagram"
                  >
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsInsta.svg"
                      width="32"
                      height="32"
                      alt="Instagram icon"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="ourTeam__position">Chief Technology Officer</p>
        </div>
        <div class="swiper-slide ourTeam__slide">
          <div class="ourTeam__img">
            <img src="./assets/image/about/our-team-2.png" alt="" />
          </div>
          <div class="ourTeam__inner">
            <div class="ourTeam__name">Katy Cristy</div>
            <div class="ourTeam__socials">
              <ul class="ourTeam__list">
                <li class="ourTeam__item">
                  <a href="#" class="ourTeam__social-link" aria-label="Twitter">
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsTwitter.svg"
                      width="32"
                      height="32"
                      alt="Twitter icon"
                    />
                  </a>
                </li>
                <li class="ourTeam__item">
                  <a
                    href="#"
                    class="ourTeam__social-link"
                    aria-label="LinkedIn"
                  >
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsLink.svg"
                      width="32"
                      height="32"
                      alt="LinkedIn"
                    />
                  </a>
                </li>
                <li class="ourTeam__item">
                  <a
                    href="#"
                    class="ourTeam__social-link"
                    aria-label="Instagram"
                  >
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsInsta.svg"
                      width="32"
                      height="32"
                      alt="Instagram icon"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="ourTeam__position">Chief Technology Officer</p>
        </div>
        <div class="swiper-slide ourTeam__slide">
          <div class="ourTeam__img">
            <img src="./assets/image/about/our-team-3.png" alt="" />
          </div>
          <div class="ourTeam__inner">
            <div class="ourTeam__name">Roger Dzawin</div>
            <div class="ourTeam__socials">
              <ul class="ourTeam__list">
                <li class="ourTeam__item">
                  <a href="#" class="ourTeam__social-link" aria-label="Twitter">
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsTwitter.svg"
                      width="32"
                      height="32"
                      alt="Twitter icon"
                    />
                  </a>
                </li>
                <li class="ourTeam__item">
                  <a
                    href="#"
                    class="ourTeam__social-link"
                    aria-label="LinkedIn"
                  >
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsLink.svg"
                      width="32"
                      height="32"
                      alt="LinkedIn"
                    />
                  </a>
                </li>
                <li class="ourTeam__item">
                  <a
                    href="#"
                    class="ourTeam__social-link"
                    aria-label="Instagram"
                  >
                    <img
                      loading="lazy"
                      src="./assets/icons/SocialIconsInsta.svg"
                      width="32"
                      height="32"
                      alt="Instagram icon"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="ourTeam__position">Chief Technology Officer</p>
        </div>
      </div>
    </div>
    <div class="ourTeam__join">
      <div class="ourTeam__join-title heading-h2">
      Join our team, The one with the master touch
      </div>
      <div class="ourTeam__join-inner">
        <div class="ourTeam__join-text">We believe it takes great people to make a great product. That’s why we hire not only the perfect professional fits, but people who embody our company values.
        </div>
        <a class="ourTeam__join-btn button-form" href="/">See Open Position →</a>
      </div>
    </div>   
  </div>
</section>
