<section class="articles">
  <div class="container">
    <div class="articles__articlesBlock">
      <div class="articles__articleBlock-left">
        <div class="articles__articleBlock-inner articles__articleBlock-big">
          <img
            loading="lazy"
            class="articles__articleBlock-img"
            src="./assets/image/blog/articles-1-1.png"
            width="584"
            height="751"
            alt="desk with a laptop"
          />
          <h3 class="articles__article-title heading-h3">
            <a href="/coca/detail-blog.html">
              How we perform long-running tasks using AWS services</a
            >
          </h3>
          <p class="articles__article-subtitle text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
        <div class="articles__articleBlock-inner articles__articleBlock-small">
          <img
            loading="lazy"
            class="articles__articleBlock-img"
            src="./assets/image/blog/articles-1-2.png"
            width="584"
            height="507"
            alt="men are sitting at the table"
          />
          <h3 class="articles__article-title heading-h3">
            <a href="/coca/detail-blog.html">How to ask when doing User Research</a>
          </h3>
          <p class="articles__article-subtitle text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </div>
      </div>
      <div class="articles__articleBlock-right">
        <div class="articles__articleBlock-inner articles__articleBlock-small">
          <img
            loading="lazy"
            class="articles__articleBlock-img"
            src="./assets/image/blog/articles-1-3.png"
            width="584"
            height="507"
            alt="men are sitting at the table"
          />
          <h3 class="articles__article-title heading-h3">
            <a href="/coca/detail-blog.html">How to ask when doing User Research</a>
          </h3>
          <p class="articles__article-subtitle text-p-medium">
            Bro, the story is that you want to make an application for buying
            and selling goods on the market. During user research, what do you
            think you will ask people?
          </p>
        </div>
        <div class="articles__articleBlock-inner articles__articleBlock-big">
          <img
            loading="lazy"
            class="articles__articleBlock-img"
            src="./assets/image/blog/articles-1-4.png"
            width="584"
            height="751"
            alt="working meeting"
          />
          <h3 class="articles__article-title heading-h3">
            <a href="/coca/detail-blog.html">
              How we perform long-running tasks using AWS services</a
            >
          </h3>
          <p class="articles__article-subtitle text-p-medium">
            Webflow is web design tool as well as a hosting platform and CMS all
            in one. While you are probably familiar with all of these, they are
            usually entirely separate tools.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
