<section class="articlesSlider">
  <div class="container">
    <div class="articlesSlider__title-head">
      <div class="articlesSlider__title-inner">
        <h2 class="articlesSlider__title heading-h2">Articles</h2>
        <p class="articlesSlider__description text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="articlesSlider__btns">
        <button class="articlesSlider__btn articlesSlider__btn--prev">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="articlesSlider__btn articlesSlider__btn--next">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper articlesSlider__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide articlesSlider__slide">
          <img
            class="articlesSlider__img-577"
            loading="lazy"
            src="./assets/image/blog/articles-2-1.png"
            width="405"
            height="577"
            alt="a man and a woman working in an office"
          />
          <div class="articlesSlider__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make money
          </div>
          <p class="articlesSlider__slide-description text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you can use as a reference for creating a portfolio. Two interesting things from their portfolio are:
          </p>
          <a class="articlesSlider__slide-btn button-form" href="#">Read More</a>
        </div>
        <div class="swiper-slide articlesSlider__slide">
          <img
            class="articlesSlider__img-329"
            loading="lazy"
            src="./assets/image/blog/articles-2-3.jpg"
            width="405"
            height="329"
            alt="a man and a woman working in an office"
          />
          <div class="articlesSlider__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </div>
          <p class="articlesSlider__slide-description text-p-medium">
            Ever thought of jumping into the world of design as a career? If not, you may want to look at what the word ‘design’ actually means. Design is a method of designing aesthetic actions that are carried out.
          </p>
          <a class="articlesSlider__slide-btn button-form" href="#">Read More</a>
        </div>
        <div class="swiper-slide articlesSlider__slide">
          <img
            class="articlesSlider__img-695"
            loading="lazy"
            src="./assets/image/blog/articles-2-2.png"
            width="405"
            height="695"
            alt="a man and a woman working in an office"
          />
          <div class="articlesSlider__slide-title heading-h5">
            Elements that may be missed when designing the UI
          </div>
          <p class="articlesSlider__slide-description text-p-medium">
            This is an article that talks about the little elements that are often overlooked when designing UI.
          </p>
          <a class="articlesSlider__slide-btn button-form" href="#">Read More</a>
        </div>
        <div class="swiper-slide articlesSlider__slide">
          <img
            class="articlesSlider__img-329"
            loading="lazy"
            src="./assets/image/blog/articles-2-3.jpg"
            width="405"
            height="329"
            alt="a man and a woman working in an office"
          />
          <div class="articlesSlider__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </div>
          <p class="articlesSlider__slide-description text-p-medium">
            Ever thought of jumping into the world of design as a career? If not, you may want to look at what the word ‘design’ actually means. Design is a method of designing aesthetic actions that are carried out.
          </p>
          <a class="articlesSlider__slide-btn button-form" href="#">Read More</a>
        </div>                        
      </div>
    </div>
  </div>
</section>
