<section class="blog hero-decor--blog">
  <div class="container">
    <h2 class="blog__title heading-h1">Activity & Updates</h2>
    <div class="blog__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </div>
    <ul class="blog__category">
      <li class="blog__category-item blog__activity-category">View all</li>
      <li class="blog__category-item">Design</li>
      <li class="blog__category-item">Articles</li>
      <li class="blog__category-item">Product</li>
      <li class="blog__category-item">Software Development</li>
      <li class="blog__category-item">Customer Success</li>
    </ul>
    <div class="swiper blog__slider">
      <div class="blog__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide blog__slide">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/image/blog/hero-slider-1.png"
            width="515"
            height="428"
            alt="Woman typing on"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="blog__article-author">by : Albert Sans</address>
          </div>
          <h3 class="blog__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="blog__article-description">In this article, we'll cover how to create user flows</p>
        </div>
        <div class="swiper-slide blog__slide">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/image/blog/hero-slider-2.png"
            width="515"
            height="428"
            alt="Womans typing on"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="blog__article-author">by : Albert Sans</address>
          </div>
          <h3 class="blog__article-title heading-h5">
            Overview of the Design Principles                                     
          </h3>
          <p class="blog__article-description">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
        </div>
        <div class="swiper-slide blog__slide">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/image/blog/hero-slider-3.png"
            width="515"
            height="428"
            alt="men are sitting at the table"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="blog__article-author">by : Albert Sans</address>
          </div>
          <h3 class="blog__article-title heading-h5">
            Using Grid in website design
          </h3>
          <p class="blog__article-description">Andi: "What's the grid like?" Toni: “Like below…”</p>
        </div>
        <div class="swiper-slide blog__slide">
          <img
            loading="lazy"
            class="blog__article-img"
            src="./assets/image/blog/articles-1-3.png"
            width="515"
            height="428"
            alt="men are sitting at the table"
          />
          <div class="blog__article-head text-p-small">
            <div class="blog__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="blog__article-author">by : Albert Sans</address>
          </div>
          <h3 class="blog__article-title heading-h5">
            Layout Exploration — Simple exercise but big effect
          </h3>
          <p class="blog__article-description">Make alternatives or other options for the design we are making.For example, we are creating a website design. </p>
        </div>
      </div>
    </div>
  </div>
</section>
